.azul{
	background-color: #034f84;
	color:white;
}
h1{
	font-size: 60px; 
}

.subtitle{
	font-weight: 100;
}

.app{
	height: 400px;
}

.title{
	height: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.border-total{
	border-bottom: 2px solid Gainsboro;
}

.celular{
	width: 50%;
}

.alto{
	height: 650px;
}
.espacio{
	height: 200px;
}

.separacion-title{
	padding: 20px
}
.computador{
	width: 100%;
}

.footer{
	height: 400px;
}